* {
    margin: 0px;
    padding: 0px;
}

body {
    width: 800px;
    margin: auto;
    background-color: black;
    display: block;
}

nav {
    display: block;
    width: 800px;
    height: 40px;
    background-color: white;
}

div#divcenter{
    width: 798px;
    height: 570px;
    overflow-y: scroll;
    
    border: 1px solid black;
}

table#showed_data {
    width: 490px;
    margin: 0 auto;
    font-family: arial;
    font-size: 10px;
}

main {
    display: inline-block;
    width: 800px;
    height: 600px;
    background-color: white;
}

footer {
    width: 800px;
    height: 100px;
    background-color: gray;
}


section#center {
    width: 510px;
    height: 406px;
    margin-top: 4px;
    background-color: white;
    align-content: center;
}

table#datos {
    width: 250px;
    margin: 0 auto;
    border: 1px solid black;
    font-family: arial;
    font-size: 10px;
}

.boton{
    cursor: pointer;
}

.over:hover{
    color: rgb(182, 163, 18);
}

.left{
    float:left;
}

.right{
    text-align: right;
}

input#btnLogout{
    padding: 0;
    border:none;
    background: white;
    margin-right: 10px;
}
input#btnRegistro{
    padding: 0;
    border:none;
    background:white;
    margin-left: 10px;
}

input#btnUsuarios{
    padding: 0;
    border:none;
    background:white;
    margin-left: 10px;
}

input#btnInicio{
    padding: 0;
    border:none;
    background:white;
    margin-left: 10px;
}

th#row-left {
    width: 100px;
    text-align: right;
}

th#row-right {
    width: 150px;
    text-align: left;
}

h5 {
    font-family: arial;
    font-size: 10px;
}

div#top {
    margin-top: 5px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 5px;
}

.inputs {
    width: 150px;
}

.pass {
    width: 95px;
}

.titulos{
    margin-bottom: 10px;
}

.btn-radio-char, label{
    position: relative;
    margin-top: 2px;
    display:inline-block;
    vertical-align: middle;
}
.chk{
    margin-left: 2px;
}
.radios{
    margin-left: 2px;
    margin-right: 5px;
}


input#btn_guardar{
    margin-top:5px;
}

hr{
    margin-top: 10px;
}